{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Dear Diary</title>
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block extra_css %}
{% endblock %}
</head>
<body>
<div id="sidebar" class="sidebar">

    <h2>📖 Dear Diary</h2>

    <a href="{% url 'entry_list' %}" class="active">
        🏠 Home
    </a>

    <a href="{% url 'entry_list' %}?favorites=1" class="active">
        ❤️ Favorites
    </a>

    <a href="{% url 'calendar' %}" class="active">
        📅 Calendar
    </a>

    <a href="#">
        🎨 Themes
    </a>
    <a href="{% url 'statistics' %}">
    📊 Statistics
</a>
    <hr>

    <form action="{% url 'logout' %}" method="post" class="active">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            🚪 Logout
        </button>
    </form>

</div>

<div class="container">

   <header class="top-header">

    <div class="logo-section">
        <span class="menu-icon" onclick="toggleMenu()">☰</span>
        <h1>📖 Dear Diary</h1>
    </div>
        {% if user.is_authenticated %}
            <div class="user-info">
                 Welcome, {{ user.username }}
                💜

                
            </div>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

</div>

</body>
<script>
    function toggleMenu(){
        const sidebar=document.getElementById("sidebar");
        if(sidebar.style.left=="0px"){
            sidebar.style.left="-250px";
        }
        else{
            sidebar.style.left="0px";
        }
    }
</script>
</html>