{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Dear Diary</title>
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/themes/default.css' %}"> 

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet"href="{% static 'css/themes/' %}{{ current_theme }}.css">
{% block extra_css %}
{% endblock %}
</head>
<body class="theme-{{current_theme}}">
    {% if current_theme == "autumn" %}
<div class="autumn-leaves">
    <span>🍁</span>
    <span>🍂</span>
    <span>🍁</span>
    <span>🍂</span>
    <span>🍁</span>
    <span>🍂</span>
    <span>🍁</span>
    <span>🍂</span>
    <span>🍁</span>
    <span>🍂</span>
</div>
{% endif %}
<div id="sidebar" class="sidebar">

    <h2>📖 Dear Diary</h2>

    <a href="{% url 'entry_list' %}" class="active">
        🏠 Home
    </a>

    <a href="{% url 'entry_list' %}?favorites=1" class="active">
        ❤️ Favorites
    </a>

    <a href="{% url 'calendar' %}" class="active">
        📅 Calendar
    </a>

    <a href="#" id="theme-toggle" class="active">
    🎨 Themes
</a>

<div id="theme-menu" style="display:none; margin-left:20px;">

    <a href="{% url 'change_theme' 'default' %}">
        🌸 Blossom
    </a>

    <a href="{% url 'change_theme' 'galaxy' %}">
        🌙 Moonlit Galaxy
    </a>

    <a href="{% url 'change_theme' 'forest' %}">
        🌿 Forest Whisper
    </a>

    <a href="{% url 'change_theme' 'autumn' %}">
        📚 Autumn Library
    </a>

    <a href="{% url 'change_theme' 'ocean' %}">
        🌊 Ocean Breeze
    </a>

</div>
    <a href="{% url 'statistics' %}" class="active">
    📊 Statistics
</a>
    <hr>

    <form action="{% url 'logout' %}" method="post" class="active">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            🚪 Logout
        </button>
    </form>

</div>

<div class="container">

   <header class="top-header">

    <div class="logo-section">
        <span class="menu-icon" onclick="toggleMenu()">☰</span>
        <h1>📖 Dear Diary</h1>
    </div>
        {% if user.is_authenticated %}
            <div class="user-info">
                 Welcome, {{ user.username }}
                

                
            </div>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

</div>

<script>

const themeBtn = document.getElementById("theme-toggle");
const themeMenu = document.getElementById("theme-menu");

themeBtn.onclick = function(e){

    e.preventDefault();

    if(themeMenu.style.display=="block")
        themeMenu.style.display="none";
    else
        themeMenu.style.display="block";

}

</script>
<script>
window.addEventListener("beforeunload", () => {
    sessionStorage.setItem("scrollPosition", window.scrollY);
});

window.addEventListener("load", () => {
    const scrollPosition = sessionStorage.getItem("scrollPosition");

    if (scrollPosition !== null) {
        window.scrollTo({
            top: parseInt(scrollPosition),
            behavior: "instant"
        });

        sessionStorage.removeItem("scrollPosition");
    }
});
</script>
</body>
<script>
    function toggleMenu(){
        const sidebar=document.getElementById("sidebar");
        if(sidebar.style.left=="0px"){
            sidebar.style.left="-250px";
        }
        else{
            sidebar.style.left="0px";
        }
    }
</script>
</html>