{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}


{% block content %}

<div class="entry-card journal-page">

    <div class="page-header">

        <span class="page-icon">📖</span>

        <h2>New Day</h2>
        <div id="weather-box" style="margin-top: 10px; font-size: 18px;font-style: italic;">
        Loading weather...
        </div>
        

        <p class="page-subtitle">
            Every page holds a memory worth keeping.
        </p>

    </div>

    <form method="POST">

        {% csrf_token %}
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">

        <div class="journal-block">

            <label>📝 Title</label>

            {{ form.title }}

        </div>
        
        <div class="journal-block">
            <label>How are you feeling today?</label>

            <div class="mood-picker">
                <input type="radio" id="happy" name="mood" value="happy" checked>
                <label for="happy">😊</label>

                <input type="radio" id="calm" name="mood" value="calm">
                <label for="calm">😌</label>

                <input type="radio" id="neutral" name="mood" value="neutral">
                <label for="neutral">😐</label>

                <input type="radio" id="sad" name="mood" value="sad">
                <label for="sad">😢</label>

                <input type="radio" id="angry" name="mood" value="angry">
                <label for="angry">😠</label>

                <input type="radio" id="excited" name="mood" value="excited">
                <label for="excited">🤩</label>

                <input type="radio" id="tired" name="mood" value="tired">
                <label for="tired">😴</label>
            </div>
        </div>
        
        <div class="journal-block">

            <label>📖 Today's Story</label>

            {{ form.content }}

        </div>

        <div class="journal-block">

            <label>🌸 Gratitude</label>

            {{ form.gratitude }}

        </div>

        <div class="journal-block">

            <label>🎯 Tomorrow's Goal</label>

            {{ form.tomorrow_goal }}

        </div>

        <div class="journal-block">

            <label>🌿 Notes</label>

            {{ form.notes }}

        </div>
        <div class="journal-block">
            <label for="memory_song">
        🎵 Memory Song
            </label>
            <input
        type="url"
        id="memory_song"
        name="memory_song"
        placeholder="Paste Spotify song link...">
         <small class="song-help">
        Example:
        https://open.spotify.com/track/...
         </small>


        </div>

        <button class="save-btn" type="submit">

            Save Entry

        </button>

    </form>

</div>

<script>
window.onload = function () {
    navigator.geolocation.getCurrentPosition(sendLocation, showError);
};

function sendLocation(position) {
    const lat = position.coords.latitude;
    const lon = position.coords.longitude;

    fetch("/get-weather/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken")
        },
        body: JSON.stringify({
            latitude: lat,
            longitude: lon
        })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("weather-box").innerText =
    data.weather;
       
    });
}

function showError(error) {
    document.getElementById("weather-box").innerText =
        "⚠️ Unable to fetch weather";
  
}

// CSRF helper
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let c of cookies) {
            c = c.trim();
            if (c.startsWith(name + "=")) {
                cookieValue = decodeURIComponent(c.substring(name.length + 1));
            }
        }
    }
    return cookieValue;
}
</script>

{% endblock %}