{% extends 'base.html' %}

{% block content %}

<div class="entry-card journal-page">

<div class="page-header">

    <span class="page-icon">✏️</span>

    <h2>Edit Memory</h2>

    <p class="page-subtitle">
        Revisit your thoughts and update your story.
    </p>

</div>

<form method="POST">

    {% csrf_token %}

    <div class="journal-block">
        <label>Title</label>
        <input type="text" id="id_title" name="title" value="{{ entry.title }}">
    </div>

    <div class="journal-block">
        <label>How are you feeling today?</label>
        <div class="mood-picker">

           <input type="radio" id="happy" name="mood" value="happy"
           {% if entry.mood == "happy" %}checked{% endif %}>
           <label for="happy">😊</label>

           <input type="radio" id="calm" name="mood" value="calm"
           {% if entry.mood == "calm" %}checked{% endif %}>
           <label for="calm">😌</label>

           <input type="radio" id="neutral" name="mood" value="neutral"
           {% if entry.mood == "neutral" %}checked{% endif %}>
           <label for="neutral">😐</label>

           <input type="radio" id="sad" name="mood" value="sad"
           {% if entry.mood == "sad" %}checked{% endif %}>
           <label for="sad">😢</label>

           <input type="radio" id="angry" name="mood" value="angry"
           {% if entry.mood == "angry" %}checked{% endif %}>
           <label for="angry">😠</label>

           <input type="radio" id="excited" name="mood" value="excited"
           {% if entry.mood == "excited" %}checked{% endif %}>
           <label for="excited">🤩</label>

           <input type="radio" id="tired" name="mood" value="tired"
           {% if entry.mood == "tired" %}checked{% endif %}>
           <label for="tired">😴</label>
        </div>
    </div>

    <div class="journal-block">
        <label>📖 Today's Story</label>
        <textarea id="id_content" name="content">{{ entry.content }}</textarea>
    </div>

    <div class="journal-block">
        <label>🌸 Gratitude</label>
        <textarea id="id_gratitude" name="gratitude">{{ entry.gratitude }}</textarea>
    </div>

    <div class="journal-block">
        <label>🎯 Tomorrow's Goal</label>
        <textarea id="id_tomorrow_goal" name="tomorrow_goal">{{ entry.tomorrow_goal }}</textarea>
    </div>

    <div class="journal-block">
        <label>📝 Notes</label>
        <textarea id="id_notes" name="notes">{{ entry.notes }}</textarea>
    </div>
    <div class="journal-block">
        <label for="memory_song">
        🎵 Memory Song
        </label>
        <input
        type="url"
        id="memory_song"
        name="memory_song"
        value="{{ entry.memory_song }}"
        placeholder="Paste Spotify song link...">

        <small class="song-help">
        Example:
        https://open.spotify.com/track/...
        </small>

    </div>



    
    
    <button type="submit" class="save-btn">
        Save Changes
    </button>

</form>

</div>

{% endblock %}
