{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

<div class="entry-card journal-page">

<div class="page-header">

    <span class="page-icon">✏️</span>

    <h2>Edit Memory</h2>

    <p class="page-subtitle">
        Revisit your thoughts and update your story.
    </p>

</div>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="journal-block">
        <label>Title</label>
        <input type="text" id="id_title" name="title" value="{{ entry.title }}">
    </div>

    <div class="journal-block">
        <label>How are you feeling today?</label>
        <div class="mood-picker">

           <input type="radio" id="happy" name="mood" value="happy"
           {% if entry.mood == "happy" %}checked{% endif %}>
           <label for="happy">😊</label>

           <input type="radio" id="calm" name="mood" value="calm"
           {% if entry.mood == "calm" %}checked{% endif %}>
           <label for="calm">😌</label>

           <input type="radio" id="neutral" name="mood" value="neutral"
           {% if entry.mood == "neutral" %}checked{% endif %}>
           <label for="neutral">😐</label>

           <input type="radio" id="sad" name="mood" value="sad"
           {% if entry.mood == "sad" %}checked{% endif %}>
           <label for="sad">😢</label>

           <input type="radio" id="angry" name="mood" value="angry"
           {% if entry.mood == "angry" %}checked{% endif %}>
           <label for="angry">😠</label>

           <input type="radio" id="excited" name="mood" value="excited"
           {% if entry.mood == "excited" %}checked{% endif %}>
           <label for="excited">🤩</label>

           <input type="radio" id="tired" name="mood" value="tired"
           {% if entry.mood == "tired" %}checked{% endif %}>
           <label for="tired">😴</label>
        </div>
    </div>

    <div class="journal-block">
        <label>📖 Today's Story</label>
        <textarea id="id_content" name="content">{{ entry.content }}</textarea>
    </div>

    <div class="journal-block">
        <label>🌸 Gratitude</label>
        <textarea id="id_gratitude" name="gratitude">{{ entry.gratitude }}</textarea>
    </div>

    <div class="journal-block">
        <label>🎯 Tomorrow's Goal</label>
        <textarea id="id_tomorrow_goal" name="tomorrow_goal">{{ entry.tomorrow_goal }}</textarea>
    </div>

   <div class="journal-block journal-photo-card">

    <label>📷 Memory Photo</label>

    <div class="photo-frame">
        <img
            src="{% if entry.image %}{{ entry.image.url }}{% endif %}"
            id="imagePreview"
            class="memory-photo"
            {% if not entry.image %}style="display:none;"{% endif %}>
    </div>

    <label for="id_image" class="upload-btn">
        Change Photo
    </label>

    <input
        type="file"
        id="id_image"
        name="image"
        accept="image/*"
        hidden>

</div>
    <div class="journal-block">
        <label for="memory_song">
        🎵 Memory Song
        </label>
        <input
        type="url"
        id="memory_song"
        name="memory_song"
        value="{{ entry.memory_song }}"
        placeholder="Paste Spotify song link...">

        <small class="song-help">
        Example:
        https://open.spotify.com/track/...
        </small>

    </div>



    
    
    <button type="submit" class="save-btn">
        Save Changes
    </button>

</form>

</div>

<script>

const input = document.getElementById("id_image");
const preview = document.getElementById("imagePreview");

input.addEventListener("change", function () {

    if (this.files.length) {

        const reader = new FileReader();

        reader.onload = function (e) {

            preview.src = e.target.result;
            preview.style.display = "block";

        }

        reader.readAsDataURL(this.files[0]);

    }

});

</script>

{% endblock %}
