{% extends 'base.html' %}

{% block content %}

<div class="entry-card">


<h2>{{ entry.title }}</h2>


<p class="entry-date">
    Created: {{ entry.created_at|date:"M d, Y" }}
</p>

<p class="entry-date">
    Updated: {{ entry.updated_at|date:"M d, Y H:i" }}
</p>


<hr>

<div class="journal-section">

    <h3>📖 Today's Reflection</h3>

    <div class="section-content">
        {{ entry.content|linebreaks }}
    </div>

</div>

{% if entry.gratitude %}
   <div class="journal-section">

    <h3>🌸 Gratitude</h3>

    <div class="section-content">
        {{ entry.gratitude|linebreaks }}
    </div>

</div>

{% endif %}

{% if entry.tomorrow_goal %}
    <h3>🎯 Tomorrow's Goal</h3>

    <div class="section-content">
        {{ entry.tomorrow_goal|linebreaks }}
    </div>
{% endif %}

{% if entry.notes %}
   <div class="journal-section">

    <h3>📝 Notes</h3>

    <div class="section-content">
        {{ entry.notes|linebreaks }}
    </div>

</div>
{% endif %}

{% if spotify_embed_url %}

<div class="journal-section">

    <h3>🎵 Memory Song</h3>

    <iframe
        style="border-radius:16px"
        src="{{ spotify_embed_url }}"
        width="60%"
        height="80"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
    </iframe>

</div>

{% endif %}

<div class="actions">

    <a href="{% url 'edit_entry' entry.id %}"
       class="btn-small">
       Edit
    </a>

    <a href="{% url 'delete_entry' entry.id %}"
       class="btn-small danger">
       Delete
    </a>

</div>

</div>

{% endblock %}
