{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/entry_detail.css' %}">
{% endblock %}


{% block content %}

<div class="entry-card">


<div class="detail-header">

    <div class="title-row">

        <h2>{{ entry.title }}</h2>

        <span class="mood-display">
            {{ entry.mood_emoji }} {{ entry.mood|title }}
        </span>

    </div>

    <p class="detail-date">
        {{ entry.created_at|date:"F d, Y" }}
    </p>

</div>





<div class="journal-section">

    <h3>📖 Today's Reflection</h3>

    <div class="section-content">
        {{ entry.content|linebreaks }}
    </div>

</div>

{% if entry.gratitude %}
   <div class="journal-section">

    <h3>🌸 Gratitude</h3>

    <div class="section-content">
        {{ entry.gratitude|linebreaks }}
    </div>

</div>

{% endif %}

{% if entry.tomorrow_goal %}
    <h3>🎯 Tomorrow's Goal</h3>

    <div class="section-content">
        {{ entry.tomorrow_goal|linebreaks }}
    </div>
{% endif %}

{% if entry.notes %}
   <div class="journal-section">

    <h3>📝 Notes</h3>

    <div class="section-content">
        {{ entry.notes|linebreaks }}
    </div>

</div>
{% endif %}

{% if spotify_embed_url %}

<div class="journal-section song">

    <h3>🎵 Memory Song</h3>

    <div class="music-card">

        <iframe
            style="border-radius:14px"
            src="{{ spotify_embed_url }}"
            width="80%"
            height="152"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
        </iframe>

    </div>

</div>

{% endif %}

<div class="actions">

    <a href="{% url 'edit_entry' entry.id %}"
       class="btn-small">
       Edit
    </a>

    <a href="{% url 'delete_entry' entry.id %}"
       class="btn-small danger">
       Delete
    </a>

</div>

</div>

{% endblock %}
