{% extends 'base.html' %}

{% block content %}

<div class="header-section">
    <h2>My Journal Entries</h2>

    <a href="{% url 'create_entry' %}" class="btn">
        + New Entry
    </a>
</div>

<!-- ✅ SINGLE CLEAN FORM -->
<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="🔍 Search title..."
        value="{{ query|default:'' }}"
    >

    <input
        type="date"
        name="date"
        value="{{ selected_date|default:'' }}"
    >

    <button type="submit">
        Search
    </button>

</form>

<br>

<!-- ENTRIES -->
{% for entry in entries %}

<div class="entry-card">

    <div class="entry-header">

        <h3>
             <a href="{% url 'entry_detail' entry.id %}" class="title-link">
            {{ entry.title }}
        </a>
        </h3>

        <a href="{% url 'toggle_favorite' entry.id %}"
           class="favorite-btn">

            {% if entry.is_favorite %}
                ❤️
            {% else %}
                🤍
            {% endif %}

        </a>

    </div>

    <p>{{ entry.content|truncatewords:10 }}</p>

    <small class="entry-date">
        {{ entry.created_at|date:"M d, Y" }}
    </small>

    <div class="actions">
        <a href="{% url 'edit_entry' entry.id %}" class="btn-small">
            Edit
        </a>

        <a href="{% url 'delete_entry' entry.id %}" class="btn-small danger">
            Delete
        </a>
    </div>

</div>

{% empty %}

<p>No journal entries yet.</p>

{% endfor %}

{% endblock %}