<h1>My Journal Entries</h1>


<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<hr>

{% for entry in entries %}
    <h3>{{ entry.title }}</h3>
    <p>{{ entry.content }}</p>
{% endfor %}
<a href="{% url 'create_entry' %}">
    Create New Entry
</a>

<hr>
{% for entry in entries %}
    <h3>{{ entry.title }}</h3>
    <p>{{ entry.content }}</p>
    <a href="{% url 'edit_entry' entry.id %}">Edit</a>
     <a href="{% url 'delete_entry' entry.id %}">Delete</a>
    <hr>
{% empty %}
    <p>No entries yet.</p>
{% endfor %}