{% extends 'auth_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}


{% block content %}

<div class="auth-card">

    <div class="auth-icon">
        🌸
    </div>

    <h2>Create Your Diary</h2>

    <p class="auth-subtitle">
        Every beautiful story begins with the first page.
    </p>

    {% if form.errors %}
        <div class="error-box">
            Please correct the errors below.
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label>Password</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            {{ form.password2 }}
        </div>

        <button class="auth-btn" type="submit">
            🌷 Create Account
        </button>

    </form>

    <p class="auth-link">

        Already have an account?

        <a href="{% url 'login' %}">
            Login →
        </a>

    </p>

</div>

{% endblock %}